.container{
    background-color: rgb(29, 34, 53);
    width: 1000px;
    min-width: 1000px;
    height: 1000px;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
}
.grid_cell{
    width: 100px;
    height: 100px;
    border: 1px solid white;
}